body {
    background: linear-gradient(135deg, #89f7fe, #66a6ff);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
#button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 75px;
  color: rgb(237, 199, 252);
  padding: 20px 30px;
  margin: 10px 20px;
  border-radius: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-image: linear-gradient(hsl(261, 72%, 78%) 0%, #5f578f 51%, #9f1ddb 100%);
}
#container {
    display: flex;
    align-items: center;
    justify-content: center;
}
#time {
    display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 45px;
  color: rgb(237, 199, 252);
  padding: 20px 30px;
  margin: 10px 20px;
  border-radius: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-image: linear-gradient(hsl(261, 72%, 78%) 0%, #5f578f 51%, #9f1ddb 100%);

}