body {
  background: linear-gradient(120deg, #e0f7fa, #e3f2fd);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.main-block {
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 0 25px rgba(0,0,0,0.2);
  text-align: center;
  padding: 50px 40px;
  width: 450px;
}

.word-card {
  background: #f5f5f5;
  border-radius: 12px;
  padding: 60px 0;
  font-size: 32px;
  margin: 30px 0;
  color: #333;
}

.step-info {
  font-weight: 600;
  margin-bottom: 10px;
  font-size: 18px;
}

#userInput {
  width: 90%;
  padding: 12px;
  font-size: 20px;
  border-radius: 10px;
  border: 1px solid #ccc;
  text-align: center;
}

#btnCheck {
  margin-top: 20px;
  background-color: #1976d2;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 12px 25px;
  font-size: 18px;
  cursor: pointer;
  transition: 0.2s;
}

#btnCheck:hover {
  background-color: #1565c0;
}

.score {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
  font-weight: bold;
  font-size: 18px;
}

.correct { color: green; }
.wrong { color: red; }

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  justify-content: center;
  align-items: center;
}


.modal-box {
  background: #fff;
  border-radius: 12px;
  text-align: center;
  padding: 50px 40px;
  width: 350px;
  box-shadow: 0 0 20px rgba(0,0,0,0.4);
}

.modal-box h2 {
  font-size: 28px;
  margin-top: 0;
}

.modal-box button {
  margin-top: 25px;
  background: #1976d2;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
}

.modal-box button:hover {
  background: #0d47a1;
}

@media (max-width: 500px) {
  .main-block { width: 95%; padding: 30px 20px; }
  .word-card { padding: 40px 0; font-size: 26px; }
  #userInput { font-size: 18px; }
  #btnCheck { font-size: 16px; padding: 10px 20px; }
  .modal-box { width: 90%; padding: 30px 20px; }
  .modal-box h2 { font-size: 24px; }
  .modal-box button { font-size: 16px; padding: 8px 16px; }
}
