body {
  margin: 0;
  background: linear-gradient(135deg, #3e7dbd, #c2dbfb);
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.player {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.label {
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 18px;
}

.score {
  background: cyan;
  color: white;
  padding: 5px 15px;
  border-radius: 6px;
  font-size: 18px;
  margin-bottom: 10px;
}

.number {
  width: 70px;
  height: 70px;
  background: yellow;
  border: 2px solid black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
}

button {
  background: lime;
  color: black;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  padding: 15px 25px;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: lime;
}

.result {
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
}

